body {
    margin:0px;
    text-align:center;
}

body > div {
    padding-left:10px;
    padding-right:10px;
}

/*not a header, its a navbar but whatever*/
#header {
    background-color:#1a2373;
    display:flex;
    box-shadow:0px 2px 10px 3px black;
    position:relative;
    height:50px;
    justify-content:center;
    position:fixed;
    width:calc(100vw - 20px);
}

/*nothing to do with centering, fixes some stuff
with the header to make the spacing look correct.
this is extremely important*/
.center {
    display:flex;
    align-items:center;
    margin-left:auto;
}

h1,h2,h3,h4,h5,h6 {
    color:#ffffff;
}

/*couldnt get it to work otherwise, might fix later.
for now just recolor them or put them into #content*/
a:link,a:visited {
    color:#ffffff;
    text-decoration:none;
    font-size:20px;
}

a:hover {
    
}

#underline {
    text-decoration:underline;
}

/*contains all the non-navbar content*/
#content {
    padding:calc(50px + 10px);
    /*50 so it isnt behind the header and 10 for normal padding*/
    background-color:#212121;
    min-height: calc(100vh);
    color:#d4d4d4;
    column-count:1;
}

#content > p {
    font-size:19px;
}

#content > a {
    color:#98cce3;
    text-decoration:underline
}